body{
	background-color:lightgray;
}
p {
	text-indent: 60px;
	font-family: Arial;
	font-size: 12px;
  }
 h1 {
	text-align:center;
	color:tomato;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	text-shadow: 2px 2px 10px black;
}
img {
width: 90px;
height: 140px;
float: left;
}
table{
	color:black;
}
table,th,td{
	border: 1px solid black;
	text-shadow: 2px 2px 10px tomato;
}
a   {
	text-decoration: none;
}
.navbar {
 display : block;
 background-color : red ;
 overflow : hidden;
}
.navbar a {
 float: left;
 color: white;
 padding : 15px 20px;
 text-decoration : none;
}
.navbar a:hover {
  background color: black;
 color : #B89B90;
}
.footer {
	padding: 20px;
	text-align: center;
	background: black;
	color: white;
}